body {
	text-align: center;
	margin: auto;
	color: #111;
	font-family: Verdana, sans-serif;
	margin-top: 20px;
}

#coords {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 30px;
	color: #888;
}

.help-text {
	color: #999;
	margin: 20px 0px;
}

#geo-status {
	margin-top: 40px;
}

.map-options {
	margin-right: 20px;
	text-align: right;
}

form {
	width: 30%;
	margin: auto;
}

form table, form input[type=text] {
	width: 100%;
}